.item-6 {
  width: 12m; }

.item-4 {
  width: 8m; }

.item-2 {
  width: 4m; }

.puma-icon {
  background-image: url("/images/puma.png"); }

.sea-slug-icon {
  background-image: url("/images/sea-slug.png"); }

.egret-icon {
  background-image: url("/images/egret.png"); }

.salamander-icon {
  background-image: url("/images/salamander.png"); }

.item-1 {
  width: 2em; }

.item-2 {
  width: 4em; }

.item-3 {
  width: 6em; }

header {
  color: red; }

div {
  display: block;
  margin: 0 auto; }

p {
  display: block;
  margin: 0 auto; }

div, p {
  display: block;
  margin: 0 auto; }

div {
  width: 40%; }

body {
  background: #64c864; }

section {
  background: rgba(100, 200, 100, 0.8); }

section div {
  background: white;
  background: black;
  font-family: "Open Sans";
  font-weight: bold;
  padding: 4;
  font-family: "BOLD";
  font-weight: "bold";
  width: 400%;
  margin: 2;
  margin: 3;
  margin: 2; }

p {
  padding: 20px; }

p {
  padding: 10px 20px; }

p {
  padding: 10px 20px 40px; }

p {
  padding: 10px 20px 30px 20px; }

h1 {
  color: blue;
  font-size: 10px; }

h1 {
  color: green;
  font-size: 14px; }

.box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

p {
  color: #050709;
  background-color: #020406; }

p {
  font-size: 1px; }

p {
  font: 10px/8px bold italic serif;
  font: 1.25 bold italic serif;
  width: 500px;
  width: 1;
  height: 250px;
  margin-left: 9px;
  font-size: 11; }

h1 {
  font-size: 3px; }

h1 {
  font-size: 7px; }

.error, .seriousError {
  border: 1px #f00;
  background-color: #fdd; }

.attention, .seriousError {
  font-size: 3em;
  background-color: #ff0; }

.seriousError {
  border-width: 3px; }

a:hover, .hoverlink {
  text-decoration: underline; }

.hoverlink {
  color: #000; }

.msg, .msg-error, .msg-alert {
  border: 1px solid;
  padding: 4px;
  text-align: center; }

.msg-error {
  border-color: #ff0000;
  color: #ff0000; }

.msg-alert {
  border-color: #ff8e00;
  color: #ff8e00; }

p.destaque {
  border-color: blue; }

p {
  font: 12px/30px; }

body {
  background: red;
  color: #fff; }

section {
  background-color: rgba(0, 0, 0, 0.7);
  margin: 10px 20px 15px 20px; }

section {
  font-family: "Lucida Grande";
  font-weight: bold; }

aside {
  width: 3.5rem; }

nav {
  background: #962acd;
  color: #fff;
  width: 100%;
  font-size: 1.2rem; }

nav {
  width: 100%;
  background: #000; }
  nav ul {
    list-style: none;
    padding: 20px 0; }
    nav ul li {
      color: red;
      margin: 0 20px;
      font-family: "Times New Roman", Times, serif;
      font-style: italic;
      font-size: 30px;
      font-weight: bold; }

nav {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 30px;
  font-weight: bold; }

a {
  color: #ffa; }
  a:hover, .hoverlink {
    color: #faf; }

body {
  background-color: #000; }

a {
  color: red; }
