// Aula 13 - @import
@import "_partials/media_queries";

// @import "foo.css"; //importando um arquivo CSS local
// @import "foo" min-width: 400px; //importa o arquivo CSS quando a tela tem no mínimo 400px
@import "http://foo.com/bar"; //importa arquivo via http
@import url("http://fonts.googleapis.com/css?family=Droid+Sans"); //importa via url()


// Aula 12 - Media Queries
$tablet-width: 768px;
$desktop-width: 1024px;
@mixin landscape {
    @media screen and (orientation: landscape) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}
header {
    padding: 3em;
    @include tablet {
        padding: 2em;
    }
}

.sidebar {
    width: 30%;
    @media screen and (orientation: landscape) {
        width: 40%;
    }
}
// Aula 11 - Iterações
$i: 6;
@while $i > 0 {
    .item-#{$i} {
        width: 2m * $i;
    }
    $i: $i - 2;
}
@each $animal in puma, sea-slug, egret, salamander {
    .#{$animal}-icon {
        background-image: url('/images/#{$animal}.png');
    }
}
@for $i from 1 through 3 {
    .item-#{$i} { 
        width: 2em * $i; 
    }
}
// Aula 10 - Condições
$template: dark;
header {
    @if $template == dark {
        color: #fff;
        background:#222;
    } @else if ($template == blue) {
        color: blue;
    } @else {
        color: red;
    }
}
// Aula 09 - Placeholders
// Placeholders são utilizados para partes de código estáticos
@mixin center {
    display: block;
    margin: 0 auto;    
}
div {
    @include center;
}
p {
    @include center;
}
// O placeholder ele agrupa
%center {
    display: block;
    margin: 0 auto;
}
div {
    @extend %center;
}
p {
    @extend %center;
}

// Aula 08 - Funções
// Mixins x Functions

// Criando a própria função
@function calc-fluid($target, $container) {
    $retorn: ($target / $container) * 100%;
    @return $retorn;
}
div {
    width: calc-fluid(400, 1000);
}

$red: 100;
$green: 200;
$blue: 100;
$alpha: 0.8;
$color: red;
$amount: 80%;
$font: Open Sans;
$weight: "bold";
$real_round: 2.2;
$real: 2.5;

body {
    background: rgb($red, $green, $blue);
}
section {
    background: rgba($red, $green, $blue, $alpha);
}
section div {
    background: lighten($color, $amount);
    background: darken($color, $amount);
    font-family: quote($font);
    font-weight: unquote($weight);
    padding: str-length($weight);
    font-family: to-upper-case($weight);
    font-weight: to-lower-case($weight);
    width: percentage(str-length($weight));
    margin: round($real_round);
    margin: ceil($real);
    margin: floor($real);
}

// Aula 07 - Mixins 
@mixin pad ($values...) {
    padding: $values;
}
p {
    @include pad (20px);
}
p {
    @include pad (10px 20px);
}
p {
    @include pad (10px 20px 40px);
}
p {
    @include pad (10px 20px 30px 20px);
}

@mixin titulo($size, $color: blue) {
    color: $color;
    font-size: $size;
}
h1 {
    @include titulo(10px);
}
h1 {
    @include titulo(14px, green);
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
.box {
    @include border-radius(10px);
}

// Aula 06 - Operações
// Módulo
$font-size: 27px;
p {
    font-size: $font-size % 2;
}
// Divisão
$base-size: 22px;
$line-height: 2px;
p {
    font: 10px/8px bold italic serif;
    font: (10px/8px) bold italic serif;
    $width: 1000px;
    width: $width/2;
    width: round(1.5)/2;
    height: (500px/2);
    margin-left: 5px + 8px/2px;
    // font: (italic bold 10px/8px); não vai dar certo, a conta precisa do (
    // font-size: #{$base-size}/#{$line-height} precisa tirar o valor da interpolação
    font-size: $base-size/$line-height
}
// Subtração
h1 {
    font-size: 5px - 2; // 3px
}
// Adição
h1 {
    // As unidades precisam ser compatíveis
    // font-size: 2em + 22px; // unidades incompatíveis
    font-size: 5px + 2; // 7px
    // font-size: 5px * 2px; // unidade inválida
}
// adição +
// subtração -
// multiplicação *
// divisão /
// modulo %

// Aula 05 - Extend
.error {
    border: 1px #f00;
    background-color: #fdd;
}
.attention {
    font-size: 3em;
    background-color: #ff0;
}
// @extend com duas classes
.seriousError {
    @extend .error;
    @extend .attention;
    border-width: 3px;
}
// Com pseudo elementos
a:hover {
    text-decoration: underline;
}
.hoverlink {
    @extend a:hover;
    color:#000;
}

.msg {
    border: 1px solid;
    padding: 4px;
    text-align: center;
}
.msg-error {
    @extend .msg;
    border-color: #ff0000;
    color: #ff0000;
}
.msg-alert {
    @extend .msg;
    border-color: #ff8e00;
    color: #ff8e00;
}

// Aula 04 - Interpolação
$name: destaque;
$attr: border;
p.#{$name} {
    #{$attr}-color: blue;
}
p {
    $font-size: 12px;
    $line-height: 30px;
    font: #{$font-size}/#{$line-height}
}

// Aula 03 - Variáveis
// Map
$social: (
    facebook: #3b5998,
    github: #4183c4,
    instagram: #517fa4,
    linkedin: #007bb6
);
// Listas
$animals: puma, sea-slug, egret, salamander;
$animals: puma sea-slug egret salamander;
$animals: "puma" "sea-slug" "egret" "salamander";
$margin: 10px 20px 15px 20px;
// Boolean
$color-light: false;
$color-dark: true;
$color-dark: null;

$bg: red;
$bg-section: rgba(0, 0, 0, 0.7); // valores RGB são convertidos para hexadecimal
$font-color: #fff;

$font: "Lucida Grande";
$weight: bold;

$width-rem: 3.5rem;
$width-px: 300px;
$width: 300;

$width-nav: 100%;
$font-size: 1.2rem;
$background: #962acd;
$color: #fff;
$border-style: solid 1px $color;

body {
    background: $bg;
    color: $font-color;
}
section {
    background-color: $bg-section;
    margin: $margin;
}

section {
    font: {
        family: $font;
        weight: $weight;
    }
}
aside {
    width: $width-rem;
}
nav {
    background: $background;
    color: $color;
    width: $width-nav;
    font-size: $font-size;
}

// Aula 02 - Seletores
nav {
    width: 100%;
    background: #000;

    ul {
        list-style: none;
        padding: 20px 0;

        li {
            color: red;
            margin: 0 20px;

            font: {
                family: "Times New Roman", Times, serif;
                style: italic;
                size: 30px;
                weight: bold;
            }
        }

    }
}

nav {
    font: {
        family: "Times New Roman", Times, serif;
        style: italic;
        size: 30px;
        weight: bold;
    }
}

a {
    color: #ffa;

    &:hover {
        color:#faf;
    }
}

// Aula 01
body {
    background-color: #000;
}

a {
    color: red;
}